---
import Analytics from "../components/Analytics.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en-us">
  <BaseHead title={title} description={description} />

  <body>
    <Header />
    <main>
      <article>
        <h1 class="article-title">{title}</h1>
        <time datetime={pubDate.toString()}>
          {
            new Date(pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </time>
        <hr />
        <div class="blog-post">
          <slot />
        </div>
      </article>
    </main>
    <Analytics />
  </body>
</html>
